/* line 17, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 6, ../sass/screen.scss */
* {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 11, ../sass/screen.scss */
html {
  font-size: 100%;
  font-family: sans-serif; }

/* line 16, ../sass/screen.scss */
a {
  text-decoration: underline; }

/* line 20, ../sass/screen.scss */
em {
  font-style: italic; }

/* line 24, ../sass/screen.scss */
strong {
  font-weight: bold; }

/* line 28, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

/* line 32, ../sass/screen.scss */
.container {
  margin: 0 auto;
  max-width: 980px;
  overflow: hidden; }

/* line 38, ../sass/screen.scss */
video {
  width: 100%; }

/* line 42, ../sass/screen.scss */
.chapter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s; }
  /* line 51, ../sass/screen.scss */
  .chapter.current-node {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); }

/* line 56, ../sass/screen.scss */
.timeline {
  width: 100%; }

/* line 60, ../sass/screen.scss */
.time-left {
  position: absolute;
  top: 0;
  right: 0; }

/* line 66, ../sass/screen.scss */
.video-controls {
  cursor: pointer; }
  /* line 68, ../sass/screen.scss */
  .video-controls .progress {
    overflow: hidden;
    height: 20px;
    border: 1px solid black; }
  /* line 73, ../sass/screen.scss */
  .video-controls .buffer-bar, .video-controls .time-bar {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -100%;
    height: 100%;
    width: 100%;
    -webkit-transition: left 0.5s;
    -moz-transition: left 0.5s;
    -o-transition: left 0.5s;
    transition: left 0.5s; }
  /* line 82, ../sass/screen.scss */
  .video-controls .time-bar {
    background-color: red; }
  /* line 85, ../sass/screen.scss */
  .video-controls .buffer-bar {
    background-color: green; }
