/* line 17, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: "League Gothic";
  src: url("../fonts/leaguegothic-italic-webfont.eot");
  src: url("../fonts/leaguegothic-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguegothic-italic-webfont.woff") format("woff"), url("../fonts/leaguegothic-italic-webfont.ttf") format("truetype"), url("../fonts/leaguegothic-italic-webfont.svg#league_gothic_italicregular") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "League Gothic";
  src: url("../fonts/leaguegothic-regular-webfont.eot");
  src: url("../fonts/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguegothic-regular-webfont.woff") format("woff"), url("../fonts/leaguegothic-regular-webfont.ttf") format("truetype"), url("../fonts/leaguegothic-regular-webfont.svg#league_gothicregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 12, ../sass/screen.sass */
html {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased; }

/* line 16, ../sass/screen.sass */
h1,
h2,
h3,
h4 {
  font-family: "League Gothic";
  text-transform: uppercase; }

/* line 27, ../sass/screen.sass */
* {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 31, ../sass/screen.sass */
html {
  background: black;
  font-size: 100%; }

/* line 35, ../sass/screen.sass */
body {
  margin: 0; }

/* line 38, ../sass/screen.sass */
a {
  text-decoration: none;
  color: inherit; }

/* line 42, ../sass/screen.sass */
em {
  font-style: italic; }

/* line 45, ../sass/screen.sass */
strong {
  font-weight: bold; }

/* line 50, ../sass/screen.sass */
.container {
  height: 553px;
  margin: 0 auto;
  overflow: hidden;
  max-width: 960px; }

/* line 56, ../sass/screen.sass */
header {
  background: #ffd91f url('../img/header.png?1368663867') center no-repeat;
  padding: 0.75em 0;
  z-index: 100;
  height: 125px;
  top: 0;
  -webkit-transition: top 1s;
  -moz-transition: top 1s;
  -o-transition: top 1s;
  transition: top 1s; }
  /* line 64, ../sass/screen.sass */
  header.intro {
    top: 350px;
    cursor: pointer; }

/* line 68, ../sass/screen.sass */
.introduction {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 1;
  -webkit-transition: opacity 3s ease;
  -webkit-transition-delay: 1s;
  -moz-transition: opacity 3s ease 1s;
  -o-transition: opacity 3s ease 1s;
  transition: opacity 3s ease 1s; }
  /* line 76, ../sass/screen.sass */
  .introduction.finished {
    opacity: 0;
    pointer-events: none; }

/* line 80, ../sass/screen.sass */
video {
  position: relative;
  width: 100%;
  z-index: 1; }

/* line 85, ../sass/screen.sass */
.timeline {
  width: 100%; }

/* line 88, ../sass/screen.sass */
.video-controls {
  cursor: pointer;
  margin-top: -60px;
  position: relative;
  z-index: 2; }
  /* line 94, ../sass/screen.sass */
  .video-controls .playpause {
    background-size: contain;
    background-image: url('../img/pause.png?1368635926');
    position: absolute;
    left: 15px;
    top: 0;
    width: 75px;
    height: 45px; }
    /* line 103, ../sass/screen.sass */
    .video-controls .playpause.paused {
      background-image: url('../img/play.png?1368635603'); }
  /* line 106, ../sass/screen.sass */
  .video-controls .progress {
    overflow: hidden;
    height: 50px;
    margin-left: 100px;
    padding: 0.5em;
    font-weight: bold; }
  /* line 113, ../sass/screen.sass */
  .video-controls .buffer-bar,
  .video-controls .time-bar {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -100%;
    width: 98.5%;
    -webkit-transition: left 0.5s;
    -moz-transition: left 0.5s;
    -o-transition: left 0.5s;
    transition: left 0.5s; }
  /* line 122, ../sass/screen.sass */
  .video-controls .time-bar {
    top: 30px;
    border-top: 3px solid rgba(255, 255, 255, 0.5); }
  /* line 126, ../sass/screen.sass */
  .video-controls .buffer-bar {
    background-color: #333333; }

/* line 129, ../sass/screen.sass */
.chapter-list {
  position: absolute;
  z-index: 3;
  bottom: 31px;
  left: 76px;
  float: left;
  padding: 0.5em 1em;
  width: 100%; }
  /* line 138, ../sass/screen.sass */
  .chapter-list li {
    float: left;
    margin: 0 0.5em; }
  /* line 142, ../sass/screen.sass */
  .chapter-list a {
    background: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    font-weight: bold;
    display: block;
    letter-spacing: -1px;
    padding: 0.4em 0.5em 0.25em 0.5em;
    text-transform: uppercase;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    -webkit-transition: color 0.1s;
    -moz-transition: color 0.1s;
    -o-transition: color 0.1s;
    transition: color 0.1s; }
  /* line 154, ../sass/screen.sass */
  .chapter-list a:hover,
  .chapter-list .current-chapter {
    color: #333333; }

/* line 160, ../sass/screen.sass */
.chapter {
  height: 500px;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 560px; }

/* line 169, ../sass/screen.sass */
.chapter-title {
  position: absolute;
  top: 40%;
  right: 3%;
  font-size: 5em;
  color: white;
  text-align: right;
  text-shadow: 1px 1px 3px black;
  width: 40%;
  z-index: 1; }

/* line 179, ../sass/screen.sass */
aside {
  background: #eeeeee;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 550px;
  padding: 1em;
  border-left: 1px solid #aaaaaa;
  -webkit-box-shadow: #eeeeee -5px 0 15px;
  -moz-box-shadow: #eeeeee -5px 0 15px;
  box-shadow: #eeeeee -5px 0 15px;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s; }
  /* line 191, ../sass/screen.sass */
  aside h2 {
    font-size: 22px;
    margin: 0 0 0.75em 0; }
  /* line 195, ../sass/screen.sass */
  aside p {
    font-size: 14px;
    margin: 1em 0; }
  /* line 199, ../sass/screen.sass */
  aside blockquote {
    font-family: Georgia, serif;
    font-style: italic;
    margin: 1.25em 0; }
    /* line 204, ../sass/screen.sass */
    aside blockquote:before {
      content: "“";
      font-size: 64px;
      opacity: 0.5;
      padding: 0 0.2em 0 0; }

/* line 210, ../sass/screen.sass */
.close-aside {
  font-size: 32px; }

/* line 215, ../sass/screen.sass */
.element, aside {
  display: block;
  position: absolute;
  z-index: 1;
  -webkit-transform: translateX(2000px);
  -moz-transform: translateX(2000px);
  -ms-transform: translateX(2000px);
  -o-transform: translateX(2000px);
  transform: translateX(2000px); }
  /* line 220, ../sass/screen.sass */
  .element.current, aside.current {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }

/* line 223, ../sass/screen.sass */
#people {
  position: absolute;
  width: 100%;
  top: 300px;
  left: 0; }
  /* line 229, ../sass/screen.sass */
  #people .person {
    min-width: 50px;
    min-height: 50px;
    float: left;
    border: 1px solid yellow; }
    /* line 235, ../sass/screen.sass */
    #people .person blockquote {
      position: absolute;
      width: 200px;
      background-color: white;
      display: none; }
  /* line 241, ../sass/screen.sass */
  #people .person:hover blockquote {
    display: block; }
  /* line 244, ../sass/screen.sass */
  #people.current-2 .dead {
    border-color: red; }

/* line 247, ../sass/screen.sass */
#causes-of-death {
  position: absolute;
  right: 0;
  bottom: 0; }
  /* line 252, ../sass/screen.sass */
  #causes-of-death.current {
    bottom: 100%; }

/* line 255, ../sass/screen.sass */
#bacteria {
  position: absolute;
  top: 0;
  left: 410px;
  width: 550px;
  height: 530px;
  border: 1px solid #ffd91f; }

/* line 263, ../sass/screen.sass */
#judy-gaines {
  padding: 20px; }
  /* line 265, ../sass/screen.sass */
  #judy-gaines .image-container, #judy-gaines .text-container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute; }
    /* line 271, ../sass/screen.sass */
    #judy-gaines .image-container img, #judy-gaines .text-container img {
      width: 100%;
      position: absolute;
      opacity: 0;
      -webkit-transition: opacity 1s;
      -moz-transition: opacity 1s;
      -o-transition: opacity 1s;
      transition: opacity 1s; }
      /* line 276, ../sass/screen.sass */
      #judy-gaines .image-container img.current-image, #judy-gaines .text-container img.current-image {
        opacity: 1; }
    /* line 278, ../sass/screen.sass */
    #judy-gaines .image-container p, #judy-gaines .text-container p {
      margin-left: 200px;
      color: white;
      line-height: 2em; }
  /* line 282, ../sass/screen.sass */
  #judy-gaines .text-container {
    overflow: auto; }

/* line 285, ../sass/screen.sass */
#lawsuits {
  width: 100px;
  height: 100px;
  border: 2px solid yellow;
  top: 80px;
  left: 570px; }

/* line 292, ../sass/screen.sass */
.decision-tree {
  border: 2px solid black;
  width: 100%;
  height: 150px;
  overflow: hidden; }
  /* line 298, ../sass/screen.sass */
  .decision-tree .decision,
  .decision-tree .decision-big {
    height: 150px;
    border: 1px solid gray;
    overflow: hidden; }
    /* line 304, ../sass/screen.sass */
    .decision-tree .decision p,
    .decision-tree .decision-big p {
      font-size: 16px;
      font-weight: bold;
      margin: 0.5em 0.25em 0.25em 0.5em; }
    /* line 309, ../sass/screen.sass */
    .decision-tree .decision a,
    .decision-tree .decision-big a {
      background: #dddddd;
      float: left;
      margin: 0.5em;
      padding: 0.5em;
      width: 200px; }
  /* line 316, ../sass/screen.sass */
  .decision-tree .decision-end {
    width: 100%; }
  /* line 319, ../sass/screen.sass */
  .decision-tree .outcome {
    padding: 1em;
    height: 150px; }
    /* line 323, ../sass/screen.sass */
    .decision-tree .outcome p {
      font-size: 18px;
      font-style: italic;
      font-weight: bold; }
    /* line 328, ../sass/screen.sass */
    .decision-tree .outcome a {
      float: left;
      font-weight: bold;
      width: 50%; }
  /* line 333, ../sass/screen.sass */
  .decision-tree #outcome-positive {
    background: lightgreen; }
  /* line 336, ../sass/screen.sass */
  .decision-tree #outcome-negative {
    background: pink; }
