/* line 17, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: "League Gothic";
  src: url("../fonts/leaguegothic-italic-webfont.eot");
  src: url("../fonts/leaguegothic-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguegothic-italic-webfont.woff") format("woff"), url("../fonts/leaguegothic-italic-webfont.ttf") format("truetype"), url("../fonts/leaguegothic-italic-webfont.svg#league_gothic_italicregular") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "League Gothic";
  src: url("../fonts/leaguegothic-regular-webfont.eot");
  src: url("../fonts/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguegothic-regular-webfont.woff") format("woff"), url("../fonts/leaguegothic-regular-webfont.ttf") format("truetype"), url("../fonts/leaguegothic-regular-webfont.svg#league_gothicregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Open Sans Italic";
  src: url("../fonts/OpenSans-Italic-webfont.eot");
  src: url("../fonts/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Italic-webfont.woff") format("woff"), url("../fonts/OpenSans-Italic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Italic-webfont.svg#OpenSansItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold-webfont.svg#OpenSansBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Open Sans Semibold";
  src: url("../fonts/OpenSans-Semibold-webfont.eot");
  src: url("../fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold-webfont.woff") format("woff"), url("../fonts/OpenSans-Semibold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Semibold-webfont.svg#OpenSansBold") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 1, ../sass/_mixins.sass */
.chapter-list li a:after, #people .person blockquote:after {
  content: "";
  position: absolute;
  left: 50%; }

/* line 18, ../sass/screen.sass */
html {
  font-family: "Open Sans Regular", sans-serif; }

/* line 21, ../sass/screen.sass */
em {
  font-family: "Open Sans Italic", sans-serif; }

/* line 24, ../sass/screen.sass */
strong {
  font-family: "Open Sans Bold", sans-serif; }

/* line 27, ../sass/screen.sass */
h1,
h2,
h3,
h4 {
  font-family: "League Gothic";
  text-transform: uppercase; }

/* line 36, ../sass/screen.sass */
* {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 40, ../sass/screen.sass */
html {
  background: black;
  font-size: 100%; }

/* line 44, ../sass/screen.sass */
body {
  margin: 0; }

/* line 47, ../sass/screen.sass */
a {
  text-decoration: none;
  color: inherit; }

/* line 53, ../sass/screen.sass */
.container {
  height: 542px;
  margin: 0 auto;
  overflow: hidden;
  max-width: 960px; }

/* line 59, ../sass/screen.sass */
header {
  background: #ffd91f url('../img/header.png?1368724677') center no-repeat;
  border-bottom: 4px solid #b59200;
  padding: 0.75em 0;
  z-index: 100;
  height: 80px;
  top: 0;
  text-align: center;
  -webkit-transition: top 1s;
  -moz-transition: top 1s;
  -o-transition: top 1s;
  transition: top 1s; }
  /* line 70, ../sass/screen.sass */
  header p {
    opacity: 0;
    color: white;
    font-family: "League Gothic";
    font-size: 28px;
    margin-top: 3.25em;
    padding-left: 4.5em;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px black;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s; }
  /* line 81, ../sass/screen.sass */
  header.intro {
    top: 350px;
    cursor: pointer; }
    /* line 85, ../sass/screen.sass */
    header.intro p {
      opacity: 1; }

/* line 88, ../sass/screen.sass */
.introduction {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 1;
  background-color: black;
  -webkit-transition: opacity 1s ease;
  -webkit-transition-delay: 1s;
  -moz-transition: opacity 1s ease 1s;
  -o-transition: opacity 1s ease 1s;
  transition: opacity 1s ease 1s; }
  /* line 99, ../sass/screen.sass */
  .introduction video {
    display: block;
    min-height: 100%;
    width: auto;
    margin: 0 auto; }
  /* line 105, ../sass/screen.sass */
  .introduction.finished {
    opacity: 0;
    pointer-events: none; }

/* line 109, ../sass/screen.sass */
video {
  position: relative;
  width: 100%;
  z-index: 1; }

/* line 114, ../sass/screen.sass */
.timeline {
  width: 100%; }

/* line 117, ../sass/screen.sass */
.video-controls {
  cursor: pointer;
  margin-top: -60px;
  position: relative;
  z-index: 2; }
  /* line 123, ../sass/screen.sass */
  .video-controls .playpause {
    background: rgba(255, 255, 255, 0.3) url('../img/pause.png?1368765222') center no-repeat;
    position: absolute;
    left: 15px;
    top: 0;
    width: 70px;
    height: 50px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-transition: opacity, 0.15s;
    -moz-transition: opacity, 0.15s;
    -o-transition: opacity, 0.15s;
    transition: opacity, 0.15s; }
    /* line 134, ../sass/screen.sass */
    .video-controls .playpause.paused {
      background-image: url('../img/play.png?1368764320');
      background-position: 27px; }
  /* line 138, ../sass/screen.sass */
  .video-controls:hover .playpause {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1; }
  /* line 141, ../sass/screen.sass */
  .video-controls .time,
  .video-controls .progress {
    position: absolute;
    height: 7px; }
  /* line 146, ../sass/screen.sass */
  .video-controls .time {
    top: 43px;
    background: rgba(255, 255, 255, 0.25);
    overflow: hidden;
    margin-left: 100px;
    width: 845px; }
  /* line 153, ../sass/screen.sass */
  .video-controls .progress {
    top: 0;
    background: rgba(255, 255, 255, 0.5);
    margin-left: -100%;
    width: 100%;
    -webkit-transition: left 0.5s;
    -moz-transition: left 0.5s;
    -o-transition: left 0.5s;
    transition: left 0.5s;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5; }

/* line 161, ../sass/screen.sass */
.chapter-list {
  position: absolute;
  z-index: 3;
  left: 100px;
  bottom: 7px;
  width: 845px;
  height: 60px;
  overflow: hidden; }
  /* line 170, ../sass/screen.sass */
  .chapter-list ul {
    position: absolute;
    left: 0;
    top: 0;
    width: 845px;
    height: 60px; }
  /* line 177, ../sass/screen.sass */
  .chapter-list li {
    position: absolute;
    bottom: 19px;
    -webkit-transition: opacity, 0.15s;
    -moz-transition: opacity, 0.15s;
    -o-transition: opacity, 0.15s;
    transition: opacity, 0.15s;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
    opacity: 0.25; }
    /* line 183, ../sass/screen.sass */
    .chapter-list li a {
      background: #ffd91f;
      color: #111111;
      display: block;
      font-family: "League Gothic";
      font-size: 32px;
      line-height: 0;
      text-transform: uppercase;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
      border-radius: 2px; }
      /* line 17, ../sass/_mixins.sass */
      .chapter-list li a:after {
        bottom: 0;
        margin-left: -6px;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #ffd91f;
        margin-bottom: -6px; }
    /* line 194, ../sass/screen.sass */
    .chapter-list li span {
      display: none;
      line-height: 0;
      margin-top: -15px;
      padding: 0 5px 15px 35px; }
    /* line 200, ../sass/screen.sass */
    .chapter-list li:hover {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1; }
      /* line 203, ../sass/screen.sass */
      .chapter-list li:hover a {
        z-index: 99; }
        /* line 206, ../sass/screen.sass */
        .chapter-list li:hover a:after {
          left: 11px;
          margin-left: 0; }
        /* line 210, ../sass/screen.sass */
        .chapter-list li:hover a span {
          display: block; }
  /* line 215, ../sass/screen.sass */
  .chapter-list li:last-child span {
    margin-left: -238px; }
  /* line 219, ../sass/screen.sass */
  .chapter-list li:last-child:hover a {
    margin-left: -208px;
    padding-left: 208px; }
    /* line 223, ../sass/screen.sass */
    .chapter-list li:last-child:hover a:after {
      right: 11px;
      margin-left: 208px; }

/* line 227, ../sass/screen.sass */
.citations {
  z-index: 100;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  font-size: 0.8em;
  font-style: italic;
  position: absolute;
  bottom: 75px;
  width: 100%; }

/* line 240, ../sass/screen.sass */
.chapter {
  height: 500px;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 560px; }

/* line 249, ../sass/screen.sass */
.chapter-title {
  position: absolute;
  top: 40%;
  right: 3%;
  font-size: 5em;
  color: white;
  text-align: right;
  text-shadow: 1px 1px 3px black;
  width: 40%;
  z-index: 1; }

/* line 260, ../sass/screen.sass */
aside {
  position: absolute;
  top: 0;
  right: 0;
  width: 480px;
  height: 542px;
  z-index: 10; }
  /* line 268, ../sass/screen.sass */
  aside .aside-content {
    position: relative;
    z-index: 1;
    background: rgba(0, 0, 0, 0.85);
    color: white;
    overflow: hidden;
    width: 480px;
    height: 542px;
    padding: 20px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) -5px 0 15px;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) -5px 0 15px;
    box-shadow: rgba(0, 0, 0, 0.5) -5px 0 15px;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s; }
    /* line 280, ../sass/screen.sass */
    aside .aside-content h2 {
      font-size: 48px;
      margin: 0 0 0.15em 0; }
    /* line 284, ../sass/screen.sass */
    aside .aside-content p {
      font-size: 13px;
      font-weight: bold;
      line-height: 1.5;
      margin: 1em 0; }
    /* line 290, ../sass/screen.sass */
    aside .aside-content blockquote {
      font-family: Georgia, serif;
      font-style: italic;
      margin: 1.25em 0; }
      /* line 295, ../sass/screen.sass */
      aside .aside-content blockquote:before {
        content: "“";
        font-size: 64px;
        opacity: 0.5;
        padding: 0 0.2em 0 0; }
  /* line 301, ../sass/screen.sass */
  aside .close-aside {
    position: absolute;
    z-index: 2;
    background: rgba(0, 0, 0, 0.85);
    left: -30px;
    top: 27px;
    width: 30px;
    height: 30px;
    font-size: 33px;
    font-weight: bold;
    pointer: cursor;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) -2px 2px 15px;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) -2px 2px 15px;
    box-shadow: rgba(0, 0, 0, 0.5) -2px 2px 15px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -ms-border-radius: 4px 0 0 4px;
    -o-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px; }
    /* line 315, ../sass/screen.sass */
    aside .close-aside span {
      pointer: cursor;
      color: white;
      display: block;
      position: absolute;
      left: 5px;
      top: -5px;
      -webkit-transition: opacity 0.2s;
      -moz-transition: opacity 0.2s;
      -o-transition: opacity 0.2s;
      transition: opacity 0.2s;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
      opacity: 0.5; }
    /* line 325, ../sass/screen.sass */
    aside .close-aside:hover span {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1; }
  /* line 329, ../sass/screen.sass */
  aside.white-background h2 {
    color: #111111; }
  /* line 332, ../sass/screen.sass */
  aside.white-background p {
    font-family: "Open Sans Semibold"; }
  /* line 335, ../sass/screen.sass */
  aside.white-background .close-aside {
    background: white;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) -5px 2px 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) -5px 2px 10px;
    box-shadow: rgba(0, 0, 0, 0.5) -5px 2px 10px; }
    /* line 339, ../sass/screen.sass */
    aside.white-background .close-aside span {
      color: #111111; }

/* line 342, ../sass/screen.sass */
.next-chapter {
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  position: absolute;
  bottom: 90px;
  width: 200px;
  margin-left: 35%;
  left: -100px;
  z-index: 10;
  padding: 1em;
  color: white;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform: translateY(500px);
  -moz-transform: translateY(500px);
  -ms-transform: translateY(500px);
  -o-transform: translateY(500px);
  transform: translateY(500px); }
  /* line 357, ../sass/screen.sass */
  .next-chapter.show-next {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }

/* line 362, ../sass/screen.sass */
.element,
aside {
  display: block;
  position: absolute;
  z-index: 4;
  -webkit-transform: translateX(2000px);
  -moz-transform: translateX(2000px);
  -ms-transform: translateX(2000px);
  -o-transform: translateX(2000px);
  transform: translateX(2000px); }
  /* line 369, ../sass/screen.sass */
  .element.current,
  aside.current {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }

/* line 372, ../sass/screen.sass */
aside {
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s; }

/* line 375, ../sass/screen.sass */
.instruction {
  background: rgba(255, 255, 255, 0.75);
  display: none;
  color: #111111;
  padding: 0.5em;
  position: absolute;
  bottom: -1.5em;
  width: 250px;
  border-radius: 3px; }
  /* line 386, ../sass/screen.sass */
  .instruction span {
    display: block;
    font-size: 10px;
    margin-top: 0.25em; }
  /* line 391, ../sass/screen.sass */
  .instruction.show-instruction {
    display: block; }

/* line 394, ../sass/screen.sass */
#people {
  position: absolute;
  width: 420px;
  height: 305px;
  left: 450px;
  top: 170px; }
  /* line 401, ../sass/screen.sass */
  #people .instruction {
    display: block;
    font-family: "Open Sans Bold";
    font-size: 14px;
    width: auto;
    height: 47px;
    left: -425px;
    top: 110px;
    text-align: right; }
    /* line 42, ../sass/_mixins.sass */
    #people .instruction:before {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -6px;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-left: 6px solid rgba(255, 255, 255, 0.75);
      margin-right: -6px; }
    /* line 412, ../sass/screen.sass */
    #people .instruction span {
      font-family: "Open Sans Regular";
      line-height: 1.5;
      color: #111111;
      display: block;
      font-size: 11px; }
  /* line 419, ../sass/screen.sass */
  #people .person {
    width: 35px;
    height: 45px;
    position: absolute;
    -webkit-transition: opacity, 0.1s;
    -moz-transition: opacity, 0.1s;
    -o-transition: opacity, 0.1s;
    transition: opacity, 0.1s; }
    /* line 425, ../sass/screen.sass */
    #people .person blockquote {
      display: none;
      position: absolute;
      margin-top: 10px;
      line-height: 1.3;
      left: -80px;
      width: 200px;
      background-color: #ffd91f;
      padding: 10px;
      border-radius: 2px; }
      /* line 17, ../sass/_mixins.sass */
      #people .person blockquote:after {
        bottom: 0;
        margin-left: -6px;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #ffd91f;
        margin-bottom: -6px; }
    /* line 437, ../sass/screen.sass */
    #people .person cite {
      display: block;
      text-align: left;
      font-family: "Open Sans Bold";
      text-transform: uppercase;
      margin-top: 0.5em; }
      /* line 444, ../sass/screen.sass */
      #people .person cite:before {
        color: rgba(0, 0, 0, 0.75);
        content: "— "; }
  /* line 448, ../sass/screen.sass */
  #people .person:hover blockquote {
    display: block; }
  /* line 451, ../sass/screen.sass */
  #people #person-1 {
    left: 277px;
    top: 63px; }
    /* line 455, ../sass/screen.sass */
    #people #person-1 blockquote {
      top: -150px; }
  /* line 458, ../sass/screen.sass */
  #people #person-2 {
    left: 108px;
    top: 121px; }
    /* line 462, ../sass/screen.sass */
    #people #person-2 blockquote {
      top: -165px; }
  /* line 465, ../sass/screen.sass */
  #people #person-3 {
    left: 110px;
    top: 180px; }
    /* line 469, ../sass/screen.sass */
    #people #person-3 blockquote {
      top: -188px; }
  /* line 472, ../sass/screen.sass */
  #people #person-4 {
    left: 290px;
    top: 176px; }
    /* line 476, ../sass/screen.sass */
    #people #person-4 blockquote {
      top: -165px; }
  /* line 479, ../sass/screen.sass */
  #people #person-5 {
    left: 148px;
    top: 237px; }
    /* line 483, ../sass/screen.sass */
    #people #person-5 blockquote {
      top: -144px; }
  /* line 486, ../sass/screen.sass */
  #people #person-6 {
    left: 259px;
    top: 228px; }
    /* line 490, ../sass/screen.sass */
    #people #person-6 blockquote {
      top: -136px; }
  /* line 493, ../sass/screen.sass */
  #people #person-7 {
    left: 112px;
    top: 271px; }
    /* line 497, ../sass/screen.sass */
    #people #person-7 blockquote {
      top: -185px; }

/* line 500, ../sass/screen.sass */
#causes-of-death {
  position: absolute;
  right: 0;
  bottom: 0; }
  /* line 505, ../sass/screen.sass */
  #causes-of-death.current {
    bottom: 100%; }

/* line 508, ../sass/screen.sass */
#show-map {
  width: 300px;
  height: 300px;
  border: 2px solid yellow;
  top: 30px;
  left: 580px; }

/* line 515, ../sass/screen.sass */
#us-map {
  position: absolute;
  top: -60px;
  left: 100px;
  height: 500px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  width: 780px;
  height: 540px; }
  /* line 524, ../sass/screen.sass */
  #us-map.current {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    z-index: 10; }

/* line 528, ../sass/screen.sass */
#state-info {
  font-size: 0.8em;
  display: none;
  z-index: 20;
  position: absolute;
  width: 200px;
  min-height: 100px;
  background-color: white; }

/* line 537, ../sass/screen.sass */
#bacteria {
  position: absolute;
  top: 0;
  left: 410px;
  width: 550px;
  height: 480px;
  border: 1px solid #ffd91f; }

/* line 546, ../sass/screen.sass */
#judy-gaines .images,
#judy-gaines .sections {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; }
/* line 556, ../sass/screen.sass */
#judy-gaines .images img {
  width: 480px;
  height: 542px;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.75s;
  -moz-transition: opacity 0.75s;
  -o-transition: opacity 0.75s;
  transition: opacity 0.75s; }
  /* line 563, ../sass/screen.sass */
  #judy-gaines .images img.current-image {
    opacity: 1; }
/* line 566, ../sass/screen.sass */
#judy-gaines .sections {
  padding: 20px; }
  /* line 569, ../sass/screen.sass */
  #judy-gaines .sections section {
    clear: both;
    margin: 3em 0;
    width: 185px; }
    /* line 574, ../sass/screen.sass */
    #judy-gaines .sections section:nth-child(2n) {
      margin-top: 0; }
    /* line 577, ../sass/screen.sass */
    #judy-gaines .sections section.left {
      float: left; }
    /* line 580, ../sass/screen.sass */
    #judy-gaines .sections section.right {
      float: right; }
    /* line 583, ../sass/screen.sass */
    #judy-gaines .sections section p {
      color: #333333;
      line-height: 1.6em; }

/* line 587, ../sass/screen.sass */
#slashed-circle {
  width: 200px;
  height: 200px;
  border: 2px solid yellow;
  top: 60px;
  left: 650px; }

/* line 595, ../sass/screen.sass */
#deny-and-defend .aside-content {
  height: 550px;
  overflow: auto;
  padding: 0;
  margin: 0; }
/* line 601, ../sass/screen.sass */
#deny-and-defend .prev,
#deny-and-defend .next {
  width: 25%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10; }
/* line 609, ../sass/screen.sass */
#deny-and-defend .prev {
  left: 0; }
/* line 612, ../sass/screen.sass */
#deny-and-defend .next {
  right: 0; }
/* line 615, ../sass/screen.sass */
#deny-and-defend .papers-container {
  width: 6850px;
  height: 450px; }
  /* line 619, ../sass/screen.sass */
  #deny-and-defend .papers-container.finished {
    display: none; }
  /* line 622, ../sass/screen.sass */
  #deny-and-defend .papers-container .intro {
    width: 400px;
    float: left; }
  /* line 626, ../sass/screen.sass */
  #deny-and-defend .papers-container .papers {
    width: 6000px;
    height: 100%;
    float: left; }
    /* line 631, ../sass/screen.sass */
    #deny-and-defend .papers-container .papers img {
      position: absolute;
      top: 0;
      left: 0; }
/* line 636, ../sass/screen.sass */
#deny-and-defend .events {
  position: absolute;
  top: 0;
  left: 0; }
  /* line 640, ../sass/screen.sass */
  #deny-and-defend .events .event {
    position: absolute;
    background-color: red;
    margin: 100px;
    width: 300px;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform: translateY(2000px);
    -moz-transform: translateY(2000px);
    -ms-transform: translateY(2000px);
    -o-transform: translateY(2000px);
    transform: translateY(2000px); }
    /* line 648, ../sass/screen.sass */
    #deny-and-defend .events .event q {
      display: block; }
    /* line 652, ../sass/screen.sass */
    #deny-and-defend .events .event.current-event {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0); }
/* line 656, ../sass/screen.sass */
#deny-and-defend #hospital-envelope {
  float: left;
  margin-top: 80px; }
/* line 660, ../sass/screen.sass */
#deny-and-defend .hospital-response {
  position: absolute;
  top: 0;
  height: 500px;
  width: 400px;
  padding: 100px 40px;
  background-image: url('../img/content/putten-doctor_letter.png?1368723878');
  -webkit-transform: translateY(-2000px);
  -moz-transform: translateY(-2000px);
  -ms-transform: translateY(-2000px);
  -o-transform: translateY(-2000px);
  transform: translateY(-2000px);
  -webkit-transition: -webkit-transform 3s;
  -moz-transition: -moz-transform 3s;
  -o-transition: -o-transform 3s;
  transition: transform 3s; }
  /* line 670, ../sass/screen.sass */
  #deny-and-defend .hospital-response.visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }

/* line 673, ../sass/screen.sass */
#lawsuits {
  width: 100px;
  height: 100px;
  border: 2px solid yellow;
  top: 80px;
  left: 570px; }

/* line 681, ../sass/screen.sass */
#can-you-sue .aside-content {
  overflow: visible; }
/* line 684, ../sass/screen.sass */
#can-you-sue p {
  font-size: 14px;
  line-height: 1.4; }
/* line 688, ../sass/screen.sass */
#can-you-sue .decision-tree-container-container {
  border: 4px solid #ffd91f;
  border-radius: 3px;
  margin-top: 1.5em;
  width: 448px;
  height: 220px;
  overflow: hidden; }
/* line 696, ../sass/screen.sass */
#can-you-sue .decision-tree-container {
  background: url('../img/paper.png?1342797512');
  width: 458px;
  height: 230px;
  overflow: scroll;
  position: relative; }
  /* line 703, ../sass/screen.sass */
  #can-you-sue .decision-tree-container .decision-tree {
    background: url('../img/tree.png?1368781077') 100px 60px no-repeat;
    width: 1600px;
    height: 1600px;
    position: absolute;
    left: 0;
    top: 0;
    color: #111111; }
    /* line 712, ../sass/screen.sass */
    #can-you-sue .decision-tree-container .decision-tree .decision,
    #can-you-sue .decision-tree-container .decision-tree .outcome {
      padding: 20px;
      width: 448px;
      height: 220px;
      position: absolute; }
    /* line 719, ../sass/screen.sass */
    #can-you-sue .decision-tree-container .decision-tree .decision {
      overflow: hidden; }
      /* line 722, ../sass/screen.sass */
      #can-you-sue .decision-tree-container .decision-tree .decision p {
        font-family: "Open Sans Bold";
        font-size: 18px;
        margin: 0 0 0.5em 0; }
      /* line 727, ../sass/screen.sass */
      #can-you-sue .decision-tree-container .decision-tree .decision a {
        background: #ffd91f;
        border-bottom: 4px solid #b59200;
        float: left;
        font-family: "Open Sans Bold";
        margin: 0.5em 20px 0.3em 0;
        padding: 10px;
        text-transform: uppercase;
        width: 190px; }
        /* line 737, ../sass/screen.sass */
        #can-you-sue .decision-tree-container .decision-tree .decision a:nth-child(odd) {
          margin-right: 0; }
        /* line 740, ../sass/screen.sass */
        #can-you-sue .decision-tree-container .decision-tree .decision a.condensed {
          letter-spacing: -1px; }
        /* line 743, ../sass/screen.sass */
        #can-you-sue .decision-tree-container .decision-tree .decision a:hover {
          border-bottom-color: #111111; }
    /* line 746, ../sass/screen.sass */
    #can-you-sue .decision-tree-container .decision-tree .outcome {
      background: white;
      border-radius: 3px; }
      /* line 750, ../sass/screen.sass */
      #can-you-sue .decision-tree-container .decision-tree .outcome p {
        text-align: center; }
      /* line 753, ../sass/screen.sass */
      #can-you-sue .decision-tree-container .decision-tree .outcome a {
        background: #ffd91f;
        border-bottom: 4px solid #b59200;
        display: block;
        font-family: "Open Sans Bold";
        margin: 1em auto;
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
        width: 110px; }
    /* line 764, ../sass/screen.sass */
    #can-you-sue .decision-tree-container .decision-tree #decision-1 {
      left: 500px;
      top: 0; }
    /* line 768, ../sass/screen.sass */
    #can-you-sue .decision-tree-container .decision-tree #decision-2 {
      left: 0;
      top: 330px; }
    /* line 772, ../sass/screen.sass */
    #can-you-sue .decision-tree-container .decision-tree #decision-3 {
      left: 1026px;
      top: 660px; }
    /* line 776, ../sass/screen.sass */
    #can-you-sue .decision-tree-container .decision-tree #decision-4 {
      left: 500px;
      top: 1100px; }
    /* line 780, ../sass/screen.sass */
    #can-you-sue .decision-tree-container .decision-tree #outcome-positive {
      left: 1230px;
      top: 1115px; }
      /* line 784, ../sass/screen.sass */
      #can-you-sue .decision-tree-container .decision-tree #outcome-positive p {
        font-size: 16px;
        margin-top: 0.25em; }
        /* line 788, ../sass/screen.sass */
        #can-you-sue .decision-tree-container .decision-tree #outcome-positive p strong {
          font-family: "Open Sans Bold"; }
    /* line 791, ../sass/screen.sass */
    #can-you-sue .decision-tree-container .decision-tree #outcome-negative {
      left: 0;
      top: 858px; }
      /* line 795, ../sass/screen.sass */
      #can-you-sue .decision-tree-container .decision-tree #outcome-negative p {
        color: maroon;
        font-family: "League Gothic";
        font-size: 38px;
        margin: 0;
        text-transform: uppercase; }

/* line 802, ../sass/screen.sass */
#dollar {
  width: 100px;
  height: 100px;
  border: 2px solid yellow;
  top: 80px;
  left: 570px; }

/* line 810, ../sass/screen.sass */
#by-the-numbers p {
  font-size: 20px;
  font-weight: normal; }
/* line 814, ../sass/screen.sass */
#by-the-numbers li {
  font-size: 14px;
  line-height: 1.7;
  margin: 2em 0 1.5em; }
  /* line 819, ../sass/screen.sass */
  #by-the-numbers li:nth-child(2n+1) strong {
    color: #b59200; }
  /* line 822, ../sass/screen.sass */
  #by-the-numbers li strong {
    color: #ffd91f;
    float: left;
    font-family: "League Gothic";
    font-size: 54px;
    line-height: 1.1;
    margin: 0 0.5em 0 0;
    width: 60px; }
  /* line 832, ../sass/screen.sass */
  #by-the-numbers li:last-child {
    margin-bottom: 0; }

/* line 835, ../sass/screen.sass */
#now-what {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 1; }
  /* line 842, ../sass/screen.sass */
  #now-what .join-the-conversation a,
  #now-what .join-the-conversation p, #now-what .protect-yourself a,
  #now-what .protect-yourself .protect-header {
    font-family: "Open Sans Bold";
    text-transform: uppercase; }
  /* line 846, ../sass/screen.sass */
  #now-what h1, #now-what h2, #now-what .protect-yourself a,
  #now-what .protect-yourself .protect-header {
    color: #ffd91f;
    text-shadow: 1px 1px 3px #111111; }
  /* line 850, ../sass/screen.sass */
  #now-what h1, #now-what h2 {
    font-style: italic; }
  /* line 854, ../sass/screen.sass */
  #now-what h1 {
    font-size: 3em; }
  /* line 857, ../sass/screen.sass */
  #now-what h2 {
    font-size: 2em;
    text-align: center; }
  /* line 861, ../sass/screen.sass */
  #now-what.current {
    opacity: 1; }
  /* line 864, ../sass/screen.sass */
  #now-what .divider {
    width: 100%;
    height: 5px;
    background-color: #ffd91f; }
  /* line 869, ../sass/screen.sass */
  #now-what .join-the-conversation {
    overflow: hidden;
    *zoom: 1;
    margin: 20px 0; }
    /* line 877, ../sass/screen.sass */
    #now-what .join-the-conversation p {
      font-style: italic;
      margin: 8px 0;
      font-size: 0.8em; }
    /* line 882, ../sass/screen.sass */
    #now-what .join-the-conversation a {
      display: inline-block;
      padding: 4px 10px;
      background-color: #ffd91f;
      border-bottom: 4px solid #b59200; }
    /* line 888, ../sass/screen.sass */
    #now-what .join-the-conversation img {
      float: left;
      padding-right: 20px; }
  /* line 892, ../sass/screen.sass */
  #now-what .patient,
  #now-what .provider {
    float: left;
    width: 50%; }
  /* line 897, ../sass/screen.sass */
  #now-what .protect-yourself {
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center; }
    /* line 906, ../sass/screen.sass */
    #now-what .protect-yourself a,
    #now-what .protect-yourself p,
    #now-what .protect-yourself .protect-header {
      display: block;
      padding: 10px 15px; }
    /* line 912, ../sass/screen.sass */
    #now-what .protect-yourself p {
      font-family: "Open Sans Bold";
      font-style: italic;
      font-size: 0.9em;
      line-height: 1.3; }
      /* line 918, ../sass/screen.sass */
      #now-what .protect-yourself p.surgery {
        padding: 10px 50px; }
  /* line 921, ../sass/screen.sass */
  #now-what .simple-ways {
    overflow: hidden;
    *zoom: 1; }
  /* line 924, ../sass/screen.sass */
  #now-what .protect-block {
    width: 33.33333%;
    float: left;
    height: 282px; }
    /* line 929, ../sass/screen.sass */
    #now-what .protect-block img {
      display: block;
      margin: 0 auto;
      height: 60px;
      padding-bottom: 10px; }
