@import "compass"
@import "compass/reset"

@import "fonts"
@import "mixins"

// Variables.

$dark: #111
$yellow: #ffd91f
$darkyellow: #B59200

$container-width: 960px
$container-height: 542px

// Type.

html
  font-family: 'Open Sans Regular', sans-serif

em
  font-family: 'Open Sans Italic', sans-serif

strong
  font-family: 'Open Sans Bold', sans-serif

h1,
h2,
h3,
h4
  font-family: 'League Gothic'
  text-transform: uppercase

// Base.

*
  position: relative
  @include box-sizing(border-box)

html
  background: #000
  font-size: 100%

body
  margin: 0

a
  text-decoration: none
  color: inherit

// Layout.

.container
  height: $container-height
  margin: 0 auto
  overflow: hidden
  max-width: $container-width

header
  background: $yellow image-url("header.png") center no-repeat
  border-bottom: 4px solid $darkyellow
  padding: .75em 0
  z-index: 100
  height: 80px
  top: 0
  text-align: center

  @include transition(top 1s)

  p
    opacity: 0
    color: #fff
    font-family: 'League Gothic'
    font-size: 28px
    margin-top: 3.25em
    padding-left: 4.5em
    text-transform: uppercase
    text-shadow: 1px 1px 3px black
    @include transition(opacity 1s)

  &.intro
    top: 350px
    cursor: pointer

    p
      opacity: 1

.introduction
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 100
  opacity: 1
  background-color: black
  @include transition(opacity 1s ease 1s)

  video
    display: block
    min-height: 100%
    width: auto
    margin: 0 auto

  &.finished
    opacity: 0
    pointer-events: none

video
  position: relative
  width: 100%
  z-index: 1

.timeline
  width: 100%

.video-controls
  cursor: pointer
  margin-top: -60px
  position: relative
  z-index: 2

  .playpause
    background: rgba(255, 255, 255, .3) image-url("pause.png") center no-repeat
    position: absolute
    left: 15px
    top: 0
    width: 70px
    height: 50px
    @include border-radius(2px)
    @include opacity(.5)
    @include transition(opacity, .15s)

    &.paused
      background-image: image-url("play.png")
      background-position: 27px

  &:hover .playpause
    @include opacity(1)

  .time,
  .progress
    position: absolute
    height: 7px

  .time
    top: 43px
    background: rgba(255, 255, 255, .25)
    overflow: hidden
    margin-left: 100px
    width: 845px

  .progress
    top: 0
    background: rgba(255, 255, 255, .5)
    margin-left: -100%
    width: 100%
    @include transition(left .5s)
    @include opacity(.5)

.chapter-list
  position: absolute
  z-index: 3
  left: 100px
  bottom: 7px
  width: 845px
  height: 60px
  overflow: hidden

  ul
    position: absolute
    left: 0
    top: 0
    width: 845px
    height: 60px

  li
    position: absolute
    bottom: 19px
    @include transition(opacity, .15s)
    @include opacity(.25)

    a
      background: $yellow
      color: $dark
      display: block
      font-family: "League Gothic"
      font-size: 32px
      line-height: 0
      text-transform: uppercase
      @include border-radius(2px)
      @include bottom-triangle(6px, $yellow, down)

    span
      display: none
      line-height: 0
      margin-top: -15px
      padding: 0 5px 15px 35px

    &:hover
      @include opacity(1)

      a
        z-index: 99

        &:after
          left: 11px
          margin-left: 0

        span
          display: block

  // Final chapter marker needs its label going left, not right, since it's at the edge of the screen.
  li:last-child
    span
      margin-left: -238px

    &:hover
      a
        margin-left: -208px
        padding-left: 208px

        &:after
          right: 11px
          margin-left: 208px

// Chapters.

.chapter
  height: 500px
  overflow: auto
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 560px

.chapter-title
  position: absolute
  top: 40%
  right: 3%
  font-size: 5em
  color: white
  text-align: right
  text-shadow: 1px 1px 3px black
  width: 40%
  z-index: 1

aside
  position: absolute
  top: 0
  right: 0
  width: 480px
  height: 542px
  z-index: 10

  .aside-content
    position: relative
    z-index: 1
    background: rgba(0, 0, 0, .85)
    color: #fff
    overflow: hidden
    width: 480px
    height: 542px
    padding: 20px
    @include box-shadow(rgba(0, 0, 0, .5) -5px 0 15px)
    @include transition(transform 1s)

    h2
      font-size: 48px
      margin: 0 0 0.15em 0

    p
      font-size: 13px
      font-weight: bold
      line-height: 1.5
      margin: 1em 0

    blockquote
      font-family: Georgia, serif
      font-style: italic
      margin: 1.25em 0

      &:before
        content: "“"
        font-size: 64px
        opacity: .5
        padding: 0 .2em 0 0

  .close-aside
    position: absolute
    z-index: 2
    background: rgba(0, 0, 0, .85)
    left: -30px
    top: 27px
    width: 30px
    height: 30px
    font-size: 33px
    font-weight: bold
    pointer: cursor
    @include box-shadow(rgba(0, 0, 0, .5) -2px 2px 15px)
    @include border-radius(4px 0 0 4px)

    span
      pointer: cursor
      color: #fff
      display: block
      position: absolute
      left: 5px
      top: -5px
      @include transition(opacity .2s)
      @include opacity(.5)

    &:hover span
      @include opacity(1)

  &.white-background
    h2
      color: $dark

    p
      font-family: 'Open Sans Semibold'

    .close-aside
      background: #fff
      @include box-shadow(rgba(0, 0, 0, .5) -5px 2px 10px)

      span
        color: $dark

.next-chapter
  background-color: rgba(0,0,0, .2)
  text-align: center
  position: absolute
  bottom: 100px
  width: 200px
  margin-left: 50%
  left: -100px
  z-index: 10
  padding: 1em
  color: white
  cursor: pointer
  @include transition(transform .4s)
  @include translateY(500px)

  &.show-next
    @include translateY(0)

// Animated elements.

.element,
aside
  display: block
  position: absolute
  z-index: 4
  @include translateX(2000px)

  &.current
    @include translateX(0)

aside
  @include transition(transform 1s)

.instruction
  display: none
  color: $yellow
  position: absolute
  bottom: - 1.5em
  width: 300px
  &.show-instruction
    display: block

#people
  position: absolute
  width: 420px
  height: 305px
  left: 450px
  top: 170px

  .instruction
    display: block
    width: auto
    left: -28em

    span
      line-height: 1.5
      color: $dark
      display: block
      font-size: .8em

  .person
    width: 35px
    height: 45px
    position: absolute
    @include transition(opacity, .1s)

    blockquote
      display: none
      position: absolute
      margin-top: 10px
      line-height: 1.3
      left: -80px
      width: 200px
      background-color: $yellow
      padding: 10px
      border-radius: 2px
      @include bottom-triangle(6px, $yellow, "down")

    cite
      display: block
      text-align: left
      font-family: "Open Sans Bold"
      text-transform: uppercase
      margin-top: .5em

      &:before
        color: rgba(0, 0, 0, .75)
        content: "— "

  .person:hover blockquote
    display: block

  #person-1
    left: 277px
    top: 63px

    blockquote
      top: -150px

  #person-2
    left: 108px
    top: 121px

    blockquote
      top: -165px

  #person-3
    left: 110px
    top: 180px

    blockquote
      top: -188px

  #person-4
    left: 290px
    top: 176px

    blockquote
      top: -165px

  #person-5
    left: 148px
    top: 237px

    blockquote
      top: -144px

  #person-6
    left: 259px
    top: 228px

    blockquote
      top: -136px

  #person-7
    left: 112px
    top: 271px

    blockquote
      top: -185px

#causes-of-death
  position: absolute
  right: 0
  bottom: 0

  &.current
    bottom: 100%

#show-map
  width: 300px
  height: 300px
  border: 2px solid yellow
  top: 30px
  left: 580px

#us-map
  position: absolute
  top: -60px
  left: 100px
  height: 500px
  @include opacity(0)
  width: 780px
  height: 540px

  &.current
    @include opacity(1)
    z-index: 10

#state-info
  font-size: .8em
  display: none
  z-index: 20
  position: absolute
  width: 200px
  min-height: 100px
  background-color: white

#bacteria
  position: absolute
  top: 0
  left: $container-width - 550px
  width: 550px
  height: 480px
  border: 1px solid $yellow

#judy-gaines
  .images,
  .sections
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    overflow: auto

  .images
    img
      width: 480px
      height: 542px
      position: absolute
      opacity: 0
      @include transition(opacity .75s)

      &.current-image
        opacity: 1

  .sections
    padding: 20px

    section
      clear: both
      margin: 3em 0
      width: 185px

      &:nth-child(2n)
        margin-top: 0

      &.left
        float: left

      &.right
        float: right

      p
        color: #333
        line-height: 1.6em

#slashed-circle
  width: 200px
  height: 200px
  border: 2px solid yellow
  top: 60px
  left: 650px

#deny-and-defend
  .aside-content
    height: 550px
    overflow: auto
    padding: 0
    margin: 0

  .prev,
  .next
    width: 25%
    height: 100%
    position: absolute
    top: 0
    z-index: 10

  .prev
    left: 0

  .next
    right: 0

  .papers-container
    width: 6850px
    height: 450px

    &.finished
      display: none

    .intro
      width: 400px
      float: left

    .papers
      width: 6000px
      height: 100%
      float: left

      img
        position: absolute
        top: 0
        left: 0

  .events
    position: absolute
    top: 0
    left: 0
    .event
      position: absolute
      background-color: red
      margin: 100px
      width: 300px
      @include transition(transform 1s)
      @include translateY(2000px)

      q
        display: block


      &.current-event
        @include translateY(0)


  #hospital-envelope
    float: left
    margin-top: 80px

  .hospital-response
    position: absolute
    top: 0
    height: 500px
    width: 400px
    padding: 100px 40px
    background-image: image-url("content/putten-doctor_letter.png")
    @include translateY(-2000px)
    @include transition(transform 3s)

    &.visible
      @include translateY(0)

#lawsuits
  width: 100px
  height: 100px
  border: 2px solid yellow
  top: 80px
  left: 570px

#can-you-sue
  .aside-content
    overflow: visible

  p
    font-size: 14px
    line-height: 1.4

  .decision-tree-container-container
    border: 4px solid $yellow
    border-radius: 3px
    margin-top: 1.5em
    width: 448px
    height: 220px
    overflow: hidden

  .decision-tree-container
    background: image-url("paper.png")
    width: 458px
    height: 230px
    overflow: scroll
    position: relative

    .decision-tree
      background: image-url("tree.png") 100px 60px no-repeat
      width: 1600px
      height: 1600px
      position: absolute
      left: 0
      top: 0
      color: $dark

      .decision,
      .outcome
        padding: 20px
        width: 448px
        height: 220px
        position: absolute

      .decision
        overflow: hidden

        p
          font-family: "Open Sans Bold"
          font-size: 18px
          margin: 0 0 .5em 0

        a
          background: $yellow
          border-bottom: 4px solid $darkyellow
          float: left
          font-family: "Open Sans Bold"
          margin: .5em 20px .3em 0
          padding: 10px
          text-transform: uppercase
          width: 190px

          &:nth-child(odd)
            margin-right: 0

          &.condensed
            letter-spacing: -1px

          &:hover
            border-bottom-color: $dark

      .outcome
        background: #fff
        border-radius: 3px

        p
          text-align: center

        a
          background: $yellow
          border-bottom: 4px solid $darkyellow
          display: block
          font-family: "Open Sans Bold"
          margin: 1em auto
          padding: 10px
          text-align: center
          text-transform: uppercase
          width: 110px

      #decision-1
        left: 500px
        top: 0

      #decision-2
        left: 0
        top: 330px

      #decision-3
        left: 1026px
        top: 660px

      #decision-4
        left: 500px
        top: 1100px

      #outcome-positive
        left: 1230px
        top: 1115px

        p
          font-size: 16px
          margin-top: .25em

          strong
            font-family: 'Open Sans Bold'

      #outcome-negative
        left: 0
        top: 858px

        p
          color: maroon
          font-family: 'League Gothic'
          font-size: 38px
          margin: 0
          text-transform: uppercase

#dollar
  width: 100px
  height: 100px
  border: 2px solid yellow
  top: 80px
  left: 570px

#by-the-numbers
  p
    font-size: 20px
    font-weight: normal

  li
    font-size: 14px
    line-height: 1.7
    margin: 2em 0 1.5em

    &:nth-child(2n+1) strong
      color: $darkyellow

    strong
      color: $yellow
      float: left
      font-family: 'League Gothic'
      font-size: 54px
      line-height: 1.1
      margin: 0 .5em 0 0
      width: 60px


    &:last-child
      margin-bottom: 0

#now-what
  position: absolute
  left: 0
  top: 0
  opacity: 0
  z-index: 1

  %open-bold
    font-family: "Open Sans Bold"
    text-transform: uppercase

  %yellow-shadow
    color: $yellow
    text-shadow: 1px 1px 3px $dark

  h1, h2
    font-style: italic
    @extend %yellow-shadow

  h1
    font-size: 3em

  h2
    font-size: 2em
    text-align: center

  &.current
    opacity: 1

  .divider
    width: 100%
    height: 5px
    background-color: $yellow

  .join-the-conversation
    @include clearfix
    margin: 20px 0

    a,
    p
      @extend %open-bold

    p
      font-style: italic
      margin: 8px 0
      font-size: .8em

    a
      display: inline-block
      padding: 4px 10px
      background-color: $yellow
      border-bottom: 4px solid ($darkyellow)

    img
      float: left
      padding-right: 20px

  .patient,
  .provider
    float: left
    width: 50%

  .protect-yourself
    background-color: rgba(255,255,255,.4)
    text-align: center

    a,
    .protect-header
      @extend %open-bold
      @extend %yellow-shadow

    a,
    p,
    .protect-header
      display: block
      padding: 10px 15px

    p
      font-family: "Open Sans Bold"
      font-style: italic
      font-size: .9em
      line-height: 1.3

      &.surgery
        padding: 10px 50px

  .simple-ways
    @include clearfix

  .protect-block
    width: 33.33333%
    float: left
    height: 282px

    img
      display: block
      margin: 0 auto
      height: 60px
      padding-bottom: 10px
