@import "compass"
@import "compass/reset"

@import "fonts"

// Variables.

$yellow: #ffd91f

// Type.

html
  font-family: 'Open Sans', sans-serif
  -webkit-font-smoothing: antialiased

h1,
h2,
h3,
h4
  font-family: 'League Gothic'
  text-transform: uppercase

// Base.

$container-width: 960px

*
  position: relative
  @include box-sizing(border-box)

html
  background: #000
  font-size: 100%

body
  margin: 0

a
  text-decoration: none
  color: inherit

em
  font-style: italic

strong
  font-weight: bold

// Layout.

.container
  height: 553px
  margin: 0 auto
  overflow: hidden
  max-width: $container-width

header
  background: $yellow
  padding: .75em 0

  img
    display: block
    margin: 0 auto

video
  position: relative
  width: 100%
  z-index: 1

.timeline
  width: 100%

.video-controls
  cursor: pointer
  margin-top: -60px
  position: relative
  z-index: 2

  .playpause
    background-size: contain
    background-image: image-url("pause.png")
    position: absolute
    left: 15px
    top: 0
    width: 75px
    height: 45px

    &.paused
      background-image: image-url("play.png")

  .progress
    overflow: hidden
    height: 50px
    margin-left: 100px
    padding: .5em
    font-weight: bold

  .buffer-bar,
  .time-bar
    position: absolute
    top: 0
    left: 0
    margin-left: -100%
    width: 98.5%
    @include transition(left .5s)

  .time-bar
    top: 30px
    border-top: 3px solid rgba(255, 255, 255, .5)

  .buffer-bar
    background-color: #333

.chapter-list
  position: absolute
  z-index: 3
  bottom: 31px
  left: 76px
  float: left
  padding: .5em 1em
  width: 100%

  li
    float: left
    margin: 0 .5em

  a
    background: rgba(255, 255, 255, .5)
    color: rgba(255, 255, 255, .5)
    font-size: 12px
    font-weight: bold
    display: block
    letter-spacing: -1px
    padding: .4em .5em .25em .5em
    text-transform: uppercase
    @include border-radius(5px 5px 0 0)
    @include transition(color .1s)

  a:hover,
  .current-chapter
    color: #333

// Chapters.

.chapter
  height: 500px
  overflow: auto
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 560px

.chapter-title
  position: absolute
  top: 40%
  right: 3%
  font-size: 5em
  color: white
  text-align: right
  text-shadow: 1px 1px 3px black
  width: 40%
  z-index: 1
aside
  background: #eee
  position: absolute
  top: 0
  right: 0
  width: 50%
  height: 550px
  padding: 1em
  border-left: 1px solid #aaa
  @include box-shadow(#eee -5px 0 15px)
  @include transition(transform 1s)

  h2
    font-size: 22px
    margin: 0 0 0.75em 0

  p
    font-size: 14px
    margin: 1em 0

  blockquote
    font-family: Georgia, serif
    font-style: italic
    margin: 1.25em 0

    &:before
      content: "“"
      font-size: 64px
      opacity: .5
      padding: 0 .2em 0 0

.close-aside
  font-size: 32px

// Animated elements.

.element, aside
  display: block
  position: absolute
  z-index: 1
  @include translateX(2000px)
  &.current
    @include translateX(0)

#people
  position: absolute
  width: 100%
  top: 300px
  left: 0

  .person
    min-width: 50px
    min-height: 50px
    float: left
    border: 1px solid yellow

    blockquote
      position: absolute
      width: 200px
      background-color: white
      display: none

  .person:hover blockquote
    display: block

  &.current-2 .dead
    border-color: red

#causes-of-death
  position: absolute
  right: 0
  bottom: 0

  &.current
    bottom: 100%

#bacteria
  position: absolute
  top: 0
  left: $container-width - 550px
  width: 550px
  height: 530px
  border: 1px solid $yellow

#judy-gaines
  padding: 20px
  .image-container, .text-container
    width: 100%
    height: 100%
    top: 0
    left: 0
    position: absolute
    img
      width: 100%
      position: absolute
      opacity: 0
      @include transition(opacity 1s)
      &.current-image
        opacity: 1
    p
      margin-left: 200px
      color: white
      line-height: 2em
  .text-container
    overflow: auto

#lawsuits
  width: 100px
  height: 100px
  border: 2px solid yellow
  top: 80px
  left: 570px

.decision-tree
  border: 2px solid #000
  width: 100%
  height: 150px
  overflow: hidden

  .decision,
  .decision-big
    height: 150px
    border: 1px solid gray
    overflow: hidden

    p
      font-size: 16px
      font-weight: bold
      margin: .5em .25em .25em .5em

    a
      background: #ddd
      float: left
      margin: .5em
      padding: .5em
      width: 200px

  .decision-end
    width: 100%

  .outcome
    padding: 1em
    height: 150px

    p
      font-size: 18px
      font-style: italic
      font-weight: bold

    a
      float: left
      font-weight: bold
      width: 50%

  #outcome-positive
    background: lightgreen

  #outcome-negative
    background: pink
