@import "compass"
@import "compass/reset"

@import "fonts"

// Variables.

$yellow: #ffd91f

// Type.

html
  font-family: 'Open Sans', sans-serif
  -webkit-font-smoothing: antialiased

h1,
h2,
h3,
h4
  font-family: 'League Gothic'
  text-transform: uppercase

// Base.

$container-width: 990px

*
  position: relative
  @include box-sizing(border-box)

html
  background: #000
  font-size: 100%

a
  text-decoration: none
  color: inherit

em
  font-style: italic

strong
  font-weight: bold

h1, h2, h3, h4, h5, h6
  font-weight: bold

.container
  height: 615px
  margin: 0 auto
  overflow: hidden
  max-width: $container-width

// Layout.

header
  background: $yellow
  padding: .75em 0
  text-align: center

// Video and container.

video
  width: 100%

.timeline
  width: 100%

.time-left
  position: absolute
  top: 0
  right: 0

.video-controls
  cursor: pointer

  .progress
    overflow: hidden
    height: 30px
    padding: .5em
    font-weight: bold

  .buffer-bar,
  .time-bar
    position: absolute
    top: 0
    left: 0
    margin-left: -100%
    height: 100%
    width: 100%
    @include transition(left .5s)

  .time-bar
    background-color: $yellow

  .buffer-bar
    background-color: #333

// Layout.

.chapter
  height: 500px
  overflow: auto
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 560px

.chapter-title
  position: absolute
  top: 0
  left: 0
  font-size: 2em
  color: white
  text-shadow: 1px 1px 1px black

.chapter-list
  position: absolute
  bottom: 31px
  left: 0
  float: left
  padding: .5em 1em
  background-color: rgba(255,255,255,.75)
  width: 100%

  li
    float: left
    margin: 0 .75em

  a
    color: black
    font-size: 13px
    font-weight: bold
    display: block
    padding: .25em 0
    text-transform: uppercase
  .current-chapter
    color: $yellow

aside
  background: #eee
  position: absolute
  top: 0
  right: 0
  width: 50%
  height: 550px
  padding: 1em
  border-left: 1px solid #aaa
  @include box-shadow(#eee -5px 0 15px)
  @include transition(transform 1s)

  h2
    font-size: 22px
    margin: 0 0 0.75em 0

  p
    font-size: 14px
    margin: 1em 0

  blockquote
    font-family: Georgia, serif
    font-style: italic
    margin: 1.25em 0

    &:before
      content: "“"
      font-size: 64px
      opacity: .5
      padding: 0 .2em 0 0

.close-aside
  font-size: 32px

// Animated elements.

.element, aside
  display: block
  position: absolute
  @include translateX(2000px)
  &.current
    @include translateX(0)

#bacteria
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 540px


#lawsuits
  width: 100px
  height: 100px
  border: 2px solid yellow
  top: 80px
  left: 570px

.decision-tree
  border: 2px solid #000
  width: 100%
  height: 150px
  overflow: hidden

  .decision,
  .decision-big
    height: 150px
    border: 1px solid gray
    overflow: hidden

    p
      font-size: 16px
      font-weight: bold
      margin: .5em .25em .25em .5em

    a
      background: #ddd
      float: left
      margin: .5em
      padding: .5em
      width: 200px

  .decision-end
    width: 100%

  .outcome
    padding: 1em
    height: 150px

    p
      font-size: 18px
      font-style: italic
      font-weight: bold

    a
      float: left
      font-weight: bold
      width: 50%

  #outcome-positive
    background: lightgreen

  #outcome-negative
    background: pink
